//Setup for the font size, line-height & font-weight.
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(
                str-slice($string, $index + str-length($search)),
                $search,
                $replace
            );
    }

    @return $string;
}

$spaceamounts: (
    "10",
    "11",
    "12",
    "13",
    "14",
    "15",
    "16",
    "17",
    "18",
    "19",
    "20",
    "21",
    "22",
    "23",
    "24",
    "25",
    "26",
    "27",
    "28",
    "29",
    "30",
    "31",
    "32",
    "33",
    "34",
    "35",
    "36",
    "37",
    "38",
    "39",
    "40",
    "41",
    "42",
    "43",
    "44",
    "45",
    "46",
    "47",
    "48",
    "49",
    "50",
    "51",
    "52",
    "53",
    "54",
    "55",
    "56",
    "57",
    "58",
    "59",
    "60",
    "61",
    "62",
    "63",
    "64",
    "65"
); // Change values according to your needs
$weightamounts: ("100", "200", "300", "400", "500", "600", "700", "800", "900");
$unit: px; // Change unit according to your needs

@each $space in $spaceamounts {
    .lh-#{str-replace($space, ".", "_")}#{$unit} {
        line-height: #{$space}#{$unit} !important;
    }
    .fs-#{str-replace($space, ".", "_")}#{$unit} {
        font-size: #{$space}#{$unit} !important;
    }
    .br-#{str-replace($space, ".", "_")}#{$unit} {
        border-radius: #{$space}#{$unit} !important;
    }
}

@media all and (max-width: 767px) {
    @each $space in $spaceamounts {
        .lh-mobile-#{str-replace($space, ".", "_")}#{$unit} {
            line-height: #{$space}#{$unit} !important;
        }
        .fs-mobile-#{str-replace($space, ".", "_")}#{$unit} {
            font-size: #{$space}#{$unit} !important;
        }
    }
}

@each $weight in $weightamounts {
    .fw-#{str-replace($weight, ".", "_")} {
        font-weight: #{$weight} !important;
    }
}

@media all and (max-width: 767px) {
    @each $weight in $weightamounts {
        .fw-mobile-#{str-replace($weight, ".", "_")} {
            font-weight: #{$weight} !important;
        }
    }
}
